body {
    font-family: Arial, sans-serif;

    overflow: hidden;

    margin: 0;
    padding: 0;
  }

.Background {
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    filter: blur(4px);
}