.Content {
    transition-duration: 1s;
}

.Buttons {
    text-align: center;
    margin: 25px;
}

#Button {
    margin: 10px;

    font-size: 20px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;

    background-color: transparent;

    transition-duration: 0.4s;

    cursor: pointer;
}

#Button:hover {
    color: black;
    background-color: #f1f1f1;
}