body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
a {
    color: inherit;
}

.Text {
    width: 790px;
    margin: auto;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.Header{
    color: white;
}

h1 {
    background-color: black;
    padding: 60px;

    margin: 0 0 0 0;
}
h2 {
    margin: 0 0 0 0;
}
.HyperLink {
    float: left;
    padding: 20px;
    font-size:15px;
}
.Contact {
    float: right;
    padding: 20px 20px 20px 70px;
    font-size:15px;
    margin: 0 0 0 0;
}
h3 {
    background-color: black;
    font-size: small;
    line-height: 1.6;

    margin: 0 0 0 0;
    padding: 20px 20px 20px 20px;
}
.Links{
    float: left;
    padding: 0 25px 0 0;
}
.navButton{
    color: white;
    transition-duration: 0.4s;
}
.navButton:hover{
    color: #737373;
}